<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 读入properties配置文件 -->
    <properties resource="resource/jdbc.properties">

    </properties>
    <!-- 对象别名 -->
    <typeAliases>
        <!--<typeAlias type="com.lanhuigu.mybatis.entity.User" alias="User"/>-->
        <package name="entity"/>
    </typeAliases>
    <!-- 数据源配置 -->
    <environments default="mybatis-demo">
        <environment id="mybatis-demo">
            <!-- 事务类型 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
     <!--注册xml文件-->
    <mappers>
        <!-- 注册UserMainMapper.xml文件，UserMainMapper.xml位于com.lanhuigu.mybatis.map这个包下，
            所以resource写成com/lanhuigu/mybatis/map/UserMainMapper.xml-->
        <!-- <mapper resource="com/lanhuigu/mybatis/map/UserMainMapper.xml"/> -->
        <!-- 将map下的*.java和*.xml都注册到SqlSession实例中 -->
        <package name="dao"/>
    </mappers>
</configuration>